# Functions

In [ ]:
def my_add():
    num1 = int(input("Enter 1st number: "))
    num2 = int(input("Enter 2nd number: "))
    res = num1+num2
    print(res)

In [ ]:
my_add()

Enter 1st number: 100
Enter 2nd number: 200
300
None

In [4]:
i1 = int(input())
i2 = int(input())
def add(x, y):
    return i1 + i2
add(i1, i2)

8
9

17

In [ ]:
# Type of functions
    # Builtin function - len, type, id, int, float, eval, input, print etc
    # User defined -

In [ ]:
# Syntax of defining the function

def func_name(param1, param2, param3...):
    code1
    code2
    code3
    code4
    ...
    return stat

# Parameters are optional
# Return stat optional
# If return stat is not written then function returns None by default
# One function can return only once at a time

In [ ]:
# Syntax of calling the function

func_name(args1, args2, args3...)

# args is optional

# Function definition does not execute the function
# Function call executes the function

In [ ]:
# Input to the function - parameters and argument
    # Parameter - is the variable which holds the argument
    # Argument is the actual value

# len('Python')


# Output to the function - return stat

In [ ]:
# a = 3

def my_add(num1, num2):
    res = num1+num2
    return res

# Parameters = num1, num2

In [ ]:
a = my_add(11, 22)
print(a)

# Arguments = 11, 22

None

In [ ]:
# Positional parameters/arguments
# Order should maintained
# No of parameters and arguments should match

def emp_info(emp_name, emp_id, emp_loc):
    print('Employee name is:', emp_name)
    print('Employee ID is:', emp_id)
    print('Employee Location is:', emp_loc)

# emp_info('Krishna', 101, 'BLR', )

# emp_info('Krishna', 101,)  # TypeError: emp_info() missing 1 required positional argument: 'emp_loc'

# emp_info('Krishna', 101, 'BLR', 99999) # TypeError: emp_info() takes 3 positional arguments but 4 were given

In [ ]:
def str_center(my_str, length, char):
    left_len = length-len(my_str)
    if left_len < 0:
        print('The value of legth should be more than length of string')
    else:
        mid_left_len = left_len//2
        leftover_len = left_len - mid_left_len
        print((char * mid_left_len) + my_str + (char * leftover_len))
        
        
# str_center('Python', 20, '*', )        
# str_center(20, '*', 'Python')

In [ ]:
# len(10)

In [ ]:
# Default Parameters/arguments
# It is optional
# Default parameter should always follow the positional parameters



# SyntaxError: non-default argument follows default argument
# def emp_info(emp_name, emp_id, emp_comp = 'Learnbay', emp_loc,):
#     print('Employee name is:', emp_name)
#     print('Employee ID is:', emp_id)
#     print('Employee Location is:', emp_loc)
#     print('Employee Company is:', emp_comp)

# # emp_info('Krishna', 101, 'CHN')

# emp_info('Krishna', 101, 'CHN', 'TCS')


def emp_info(emp_name, emp_id, emp_loc,emp_comp = 'Learnbay'):
    print('Employee name is:', emp_name)
    print('Employee ID is:', emp_id)
    print('Employee Location is:', emp_loc)
    print('Employee Company is:', emp_comp)

# emp_info('Krishna', 101, 'CHN')

# emp_info('Krishna', 101, 'CHN', 'TCS')
# emp_info('Krishna', 101, 'CHN', )

In [ ]:
# Keyworded Arguments
# Order is important
# Keyworded arguments should always be passed after positional arguments


def emp_info(emp_name, emp_id, emp_loc,emp_comp = 'Learnbay'):
    print('Employee Location is:', emp_loc)
    print('Employee Company is:', emp_comp)
    print('Employee name is:', emp_name)
    print('Employee ID is:', emp_id)
    
# emp_info(emp_id = 109, emp_loc = 'HYD', emp_comp = 'TCS', emp_name = 'Abhishek')
emp_info('Abhishek', 109, emp_comp = 'Infosys', emp_loc = 'LKO')


# SyntaxError: positional argument follows keyword argument
# emp_info( emp_comp = 'Infosys', emp_loc = 'LKO', 'Abhishek', 109,)

Employee Location is: LKO
Employee Company is: Infosys
Employee name is: Abhishek
Employee ID is: 109

In [ ]:
# Define a function ehich takes two arguments
# First is a string and secind is index from whoch the string will be altered

my_str = 'abcde1234'
ind = 4
# output = '1234abcde'

In [ ]:
def emp_info(emp_loc,emp_name, emp_id, emp_comp = 'Cloudy Blocks', emp_owner = 'Meenu'):

    print(' Employee name is     :', emp_name)
    print(' Employee id is       :', emp_id)
    print(' Employee loc is      :', emp_loc)
    print(' Employee company is  :', emp_comp)
emp_info('New Delh', emp_id=101, emp_name ='Prateek')

 Employee name is     : Prateek
 Employee id is       : 101
 Employee loc is      : New Delh
 Employee company is  : Cloudy Blocks

In [ ]:
my_str = 'This is Python class'
sep = 'is'
out_lst = ['This', 'is', 'Python class']

In [ ]:
def split_is(my_str, sep):
    pass

split_is('This is Python class', 'is')

In [ ]:
def a():
    my_str = input("Enter a string: ")
    x = input('Enter index value: ')
    
    s1 = my_str[:x]
    s2 = my_str[x:]
    out_str = s2+s1
    return (out_str)

In [ ]:
def split_is(my_str, sep):
    
    output=[]
    word = ''
    index = -1
    for i in range(len(my_str)):
        if my_str[i] != ' ':
            word += my_str[i] 
        else:
            if word == sep:
                index = i - len(sep)
                break
            word = ''

    return [my_str[:index],sep, my_str[index+len(sep):]]

my_str = 'This is Python class'
sep = 'is'
split_is(my_str, sep)

['This ', 'is', ' Python class']

In [ ]:
# def my_alter(string):
#     a = len(my_str)
#     b = a/2
#     for i in my_str:
#         if i == b:
#             print(my_str[b:])
#     print(my_str[b:] + my_str[0:b])

# my_alter('ABCDE1234')

In [ ]:
# Varible legth arguments
#     1. Variable legth positional arguments - *args
#     2. Variable legth keyworded arguments - **kwargs

In [ ]:
# *args - can take multiple positional arguments in the form tuple

def my_multi(tpl):
    total = 1
    for i in tpl:
        total *= i
    return total

def my_add(a, b, *args):
    print(args)
    res = a+b + my_multi(args)
    return res

my_add(10, 20, 30, 40, 50, 100)

(30, 40, 50, 100)

6000030

In [ ]:
# sum([10,20,30])

In [ ]:
def emp_info(emp_name, emp_id, emp_city, *any_args, **any_kwargs, ):
    print('Employee name is', emp_name)
    print('Employee id is', emp_id)
    print('Employee city is', emp_city)
    print(any_args)
    print(any_kwargs)
    
# emp_info('Abhi', 101, 'BLR')
emp_info('Abhi', 101, 'BLR', 12345, emp_state = 'Karanataka', )

Employee name is Abhi
Employee id is 101
Employee city is BLR
(12345,)
{'emp_state': 'Karanataka'}

In [ ]:
def emp_info(emp_name, emp_id, emp_city, emp_country = 'India', *any_args, **any_kwargs, ):
    print('Employee name is', emp_name)
    print('Employee id is', emp_id)
    print('Employee city is', emp_city)
    print(1)
    print(any_args)
    print(any_kwargs)

In [ ]:
# return

In [ ]:
# Aliasing

# a = 10
# b = a   # Aliasing
# print(a)
# print(b)
# print(a is b)


a = [10,20,30]
b = a
# print(a, id(a))
# print(b, id(b))
# print(a is b)

b[0] = 111
print(a)
print(b)

[111, 20, 30]
[111, 20, 30]

In [ ]:
# Shallow copy - copy, slicing # Mutable
a = [10,20,30]
b = a[::]
print(a, id(a))
print(b, id(b))
# print(a is b)

b[0] = 111
print(a)
print(b)

[10, 20, 30] 4524740480
[10, 20, 30] 4524739648
[10, 20, 30]
[111, 20, 30]

In [ ]:
# Problem in shallow copy when we use nested list

a = [10, 20, [1, 2, 3], 40, 50]
b = a.copy()
# print(a, id(a))
# print(b, id(b))
# print(a is b)

# print(a[2], id(a[2]))
# print(b[2], id(b[2]))
# print(a[2] is b[2])

b[2][0] = 111
print(a)
print(b)

[10, 20, [111, 2, 3], 40, 50]
[10, 20, [111, 2, 3], 40, 50]

In [ ]:
# Import deepcopy from copy

from copy import deepcopy
a = [10, 20, [1, 2, 3], 40, 50]
b = deepcopy(a)
# print(a, id(a))
# print(b, id(b))
# print(a is b)


# print(a[2], id(a[2]))
# print(b[2], id(b[2]))
# print(a[2] is b[2])

b[2][0] = 111
print(a)
print(b)

[10, 20, [1, 2, 3], 40, 50]
[10, 20, [111, 2, 3], 40, 50]