### Kiran Sonkamble
#### 9880994453

Declare an int value and store it in a variable.
Check the type and print the id of the same.

In [4]:
q = 12
print(type(q),id(q), "Var" ,q)

<class 'int'> 2230156814992 Var 12

Take one int value between 0 - 256.
Assign it to two different variables.
Check the id of both the variables. It should come the same. Check why?

In [21]:
w= 213
e=213

print(id(e))
print(id(w))
w  is e

# The id value of both the variables same, 
# because object reusability concept allows int: 0-256 numbers.
# Which can have same memory address if int value is same.

2230157009968
2230157009968

True

Take one int value either less than -5 or greater than 256.
Assign it to two different variables.
Check the id of both the variables. It should come different.Check why?

In [27]:
r= 423
t= 423

print(r is t,id(r),id(t))

# Because concept of object reusability not applicable here.

False 2230237876560 2230237876976

Arithmetic Operations on integers
Take two different integer values.
Store them in two different variables.

Do below operations on them:-

* Find sum of both numbers

In [34]:
y=56
u=44
print(y+u,"ADD")

100 ADD

* Find difference between them
* Find the product of both numbers.
* Find value after dividing first num with second number
* Find the remainder after dividing first number with second number
* Find the quotient after dividing first number with second number
* Find the result of the first num to the power of the second number.

In [44]:
print(y-u,"Diff")

print(y*u,"Product")

print(y/u,"Div")

print(y%u,"remanider")

print(y//u,"Quotient")

print(y**u,"pow")

12 Diff
2464 Product
1.2727272727272727 Div
12 remanider
1 Quotient
83228714775187609516087769446382451891863484247270434060973411467321143197696 pow

Comparison Operators on integers
Take two different integer values.
Store them in two different variables.
Do below operations on them:-

In [49]:
y=89
u=78

print(y > u) #Greater than

print(y < u)  #Smaller than

print(y >= u)  #Greater than or equal to

print(y <= u)  #Less than or equal to

True
False
True
False

 Equality Operator
Take two different integer values.
Store them in two different variables.
Equate them using equality operators (==, !=)
Observe the output(return type should be boolean)

In [51]:
i = 76
o = 65

print(i==o)

print(i!=0)

False
True

Logical operators
Observe the output of below code
Cross check the output manually

In [52]:
print(10 and 20)

20

In [53]:
print(0 and 20)

0

In [54]:
bin(20)

'0b10100'

In [55]:
bin(10)

'0b1010'

In [56]:
print(20 and 0)

0

In [57]:
print(20 and 0)

0

In [58]:
print(20 and 0)

0

In [59]:
print(0 and 20)

0

In [61]:
print(0 or 20)

20

In [62]:
print(20 or 0)

20

In [64]:
print(0 or 0)

0

In [65]:
print(not 10)

False

In [68]:
print(not 0)

True

Bitwise Operators
Do below operations on the values provided below:

In [69]:
print(10 & 20)

0

In [71]:
print(10 | 20)

30

In [72]:
print(10 ^ 20)

30

In [73]:
print(~10)

-11

In [74]:
print(10>>2)

2

In [75]:
print(10 << 2)

40

What is the output of expression inside print statement. Cross check
before running the program

In [77]:
a = 10
b = 10
print(a is b) 
print(a is not b)

True
False

In [79]:
a = 1000
b = 1000
print(a is b) 
print(a is not b)

False
True

What is the output of expression inside print statement. Cross check
before running the program.

In [80]:
print(10+(10*32)//2**5&20+(~(-10))<<2)

20

In [81]:
29<<2

116

In [82]:
20&116

20

Membership operation
in, not in are two membership operators and it returns boolean value

In [87]:
print('2' in 'Python2.7.8')

print(10 in [10,10.20,10+20j,'Python'])

print(10 in (10,10.20,10+20j,'Python'))

print(3 in {1,2,3})

print(3 in {1:100, 2:200, 3:300})

print(10 in range(20))

True
True
True
True
True
True

 An integer can be represented in binary, octal or hexadecimal form.
Declare one binary, one octal and one hexadecimal value and store them
in three different variables.
Convert 9876 to its binary, octal and hexadecimal equivalent and print
their corresponding value.

In [105]:
b= bin(9876)
oo= oct(9876)
hx= hex(9876)
print(b, oo, hx)

# 0b101001

# 0x10f8

# 0o760

0b10011010010100 0o23224 0x2694

What will be the output of following:

In [106]:
a = 0b1010000
print(a)

80

In [107]:
b = 0o7436
print(b)

c = 0xfade
print(c)

3870
64222

In [109]:
print(bin(80))

print(oct(3870))

0b1010000
0o7436

In [110]:
print(hex(64222))

print(bin(0b1010000))

print(bin(0xfade))

print(oct(0xfade))

print(oct(0o7436))

print(hex(0b1010000))

print(hex(0xfade))

0xfade
0b1010000
0b1111101011011110
0o175336
0o7436
0x50
0xfade